<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">

    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

        function updateElection(id,status) {
            console.log("Status ::: " + status);
            // fetch(`/todos/${id}/markAsCompleted`, {
                fetch(`/elesctions/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                    completed: status
                })
            })
                .then((res) => {
                    window.location.reload();
                })
                .catch((err) => console.error(err));
        }

        function removeElection(id) {
            fetch(`/elections/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                
                    window.location.reload();
                })
                .catch((err) => console.error(err));
        }

    </script>
    <title>Elections</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            
            <%- include('header.ejs') %>
            <p class="py-2"><a href="/signout" class="text-green-600">Sign-Out</a></p>

            <p class="py-2">Welcome, <%= username %></p>

            <div>
                <% if (allElections.length == 0){
                    %>
                    <h5>You haven't cerated any elections yet!</h5>
                    <%
                }
                else{
                    %>
                  
                <h4>List of Elections
                    <label class="pl-2 pr-2 text-sm text-black-600 bg-gray-400 rounded border-gray-600">
                        <%- allElections.length %>
                    </label>
                </h4>
                <ul class="list-none">
                    <% allElections.forEach((item) => { %>
                    <li class="Election-Item">
                        <div class="flex w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50">
                            <a class="ml-2 text-sm text-gray-600 cursor-pointer" href="/elections/<%- item.id %>">
                                <%= item.electionName %>
                            </a>
                           
                            <a href="#" class="hidden trash-icon ml-2"
                                onclick = "removeElection(<%= item.id %>)"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </a>
                        </div>
                    </li>
                    <% }) %>
                    
                </ul>
                <%
            }
            %>
            </div>
            
            <p class="py-2"><a href="/elections/new" class="text-blue-600">Create a New Election</a></p>
        </div>

    </div>
</body>

</html>