<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">

    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

        function updateElection(id, status) {
            console.log("Status ::: " + status);
            // fetch(`/todos/${id}/markAsCompleted`, {
            fetch(`/elesctions/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                    completed: status
                })
            })
                .then((res) => {
                    window.location.reload();
                })
                .catch((err) => console.error(err));
        }

        function removeVoter(id) {
            fetch(`/voters/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {

                window.location.reload();
            })
                .catch((err) => console.error(err));
        }

    </script>
    <title>Preview Results</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">

            <%- include('header.ejs') %>
                <p class="py-2"><a href="/signout" class="text-green-600">Sign-Out</a></p>

                <h1 class="mt-8 text-3xl font-semibold text-gray-600">
                    Preview Results
                </h1>
        </div>

        <div class="col-start-2 col-span-4">
            <% if (election.launched==true){ %>
                <h5> This election in ongoing. </h5>
                <% } %>
                    
                    <div class="flex w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50">

                        <table class="table-auto border-separate border-spacing-0 border border-slate-400">
                            <caption><b>Election: <%= election.electionName %></b></caption>
                            <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Option</th>
                                    <th>Votes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% countVotes.forEach(async (item)=> { %>
                                    <tr>
                                        <td>
                                            <%= item.dataValues.Question.questionText %>
                                        </td>
                                        <td>
                                            <%= item.dataValues.Option.optionText %>
                                        </td>
                                        <td>
                                            <%= item.dataValues.count %>
                                        </td>


                                    </tr>
                                    <% }) %>
                            </tbody>

                        </table>
                    </div>
        </div>


    </div>

    
</body>

</html>