<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">

    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

        function updateElection(id, status) {
            console.log("Status ::: " + status);
            // fetch(`/todos/${id}/markAsCompleted`, {
            fetch(`/elesctions/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                    completed: status
                })
            })
                .then((res) => {
                    window.location.reload();
                })
                .catch((err) => console.error(err));
        }

        function removeElection(id) {
            fetch(`/elections/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {

                window.location.reload();
            })
                .catch((err) => console.error(err));
        }

    </script>
    <title>Vote</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-5">

            <%- include('header.ejs') %>
                <p class="py-2"><a href="/signout" class="text-green-600">Sign-Out</a></p>

                <h1 class="mt-8 text-3xl font-semibold text-gray-600">
                    <%= election.electionName %>
                </h1>

                <div>
                    <% if (election.launched==false){ %>
                        
                        <h4 class="mt-4 text-xl font-semibold">Voting has ended
                        </h4>
                        <div class="mt-8">
                            <% if (election.launched==true) { %>
                                <p class="py-2">

                                    <a href="/elections/<%=election.id%>/preview"
                                        class="text-blue-600">Preview Results</a>
                                </p>
                                <% } %>

                        </div>
                        <% } else { %>
                            <% if (questions.length==0){ %>
                                <h5>No any question yet!</h5>
                                <% } %>

                                    <% if (session.questionIndex < questions.length){ %>
                                        <h4 class="mt-4">
                                            Question # <%= (session.questionIndex + 1) %> / <%= questions.length %>
                                        </h4>

                                        <div class="text-red-600 mt-4">

                                            <% if(messages && messages.error && messages.error.length> 0) { %>
                                                <% for(var i=0; i<messages.error.length; i++) { %>
                                                    <li>
                                                        <%= messages.error[i].message %>
                                                    </li>
                                                    <% } %>
                                                        <% } %>


                                        </div>

                                        <form action="/elections/<%= election.id %>/vote" method="post">
                                            <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
                                            <input type="hidden" name="questionId" value="<%= question.id %>" />

                                            <h4 class="mt-4 text-xl font-semibold">
                                                <%= question.questionText %>
                                            </h4>
                                            <ul class="list-none">
                                                <% options.forEach((item)=> { %>
                                                    <li class="Election-Item">
                                                        <div
                                                            class="flex w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50">
                                                            <input type="radio" name="optionId"
                                                                class="ml-2 text-sm text-gray-600 cursor-pointer"
                                                                value="<%= item.id %>" />
                                                            <%= item.optionText %>
                                                        </div>
                                                    </li>
                                                    <% }) %>

                                            </ul>
                                            <div>
                                                <button type="submit"
                                                    class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">
                                                    Vote
                                                </button>
                                            </div>
                                        </form>
                                        <% } else{ %>
                                            <h4 class="mt-4 text-xl font-semibold">Thanks for giving your valuable vote!
                                            </h4>
                                            <div class="mt-8">
                                                <% if (election.launched==true) { %>
                                                    <p class="py-2">

                                                        <a href="/elections/<%=election.id%>/preview"
                                                            class="text-blue-600">Preview Results</a>
                                                    </p>
                                                    <% } %>

                                            </div>

                                            <% } %>
                                                <% } %>
                </div>
        </div>

    </div>
</body>

</html>